body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header h1{
    text-align: center;
    font-size: 2em;
}
.chat-content{
    width: 80%;
    margin-left: 10%;
}
#message-container{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
}

#message-container div{
    background-color: #cccccc;
    padding: 5px;
}

#message-container div:nth-child(2n){
    background-color: #ffffff; 
}
#send-container{
    display: flex;
    justify-content: center;
}